@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik+Scribble&display=swap');

body{
    background-color: rgb(253, 251, 245);
    font-family: "Outfit", sans-serif;
}

nav, .logo{
    font-size: 20px;
}
header{
    background-color: rgba(121, 95, 95, 0.838);
    width: 1400px;
    height: 100px;
}

.logo{
    padding-left: 60px;
}

.menu-links{
    padding-left: 635px;
}

section{
    /* border: 1px solid black; */
    width: 1400px;
    height: 750px;
    margin-top: 25px;
}

.image1{
    width: 1400px;
    height: 100px;
    padding-left: 30px;
}

main{
    /* border: 1px black solid; */
    margin: 20px;
    height: 1500px;
}

footer{
    background-color: rgba(121, 95, 95, 0.838);
    height: 120px;
}

.About-Container{
    height: 480px;
}

.About-Container img{
    width: 200px;
    height: 200px;
}
.works{
    /* border: 1px solid black; */
   margin: 20px;
   padding-bottom: 200px;
   padding-top: 60px;
}

.works h1{
    padding-bottom: 80px;
}

.div1 img{
    width: 350px;
    height: 300px;
    padding-top: 20px;
    background-color: rgba(156, 130, 130, 0.592);
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.div2 img{
    width: 350px;
    height: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(156, 130, 130, 0.592);
}

.div3 img{
    width: 400px;
    height: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(156, 130, 130, 0.592);
}

/** CSS Advanced Technique **/
/** Used Transition and Psuedoclass References **/
nav{
    position: relative;
  }

nav{
  a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      border-radius: 1px;
      background-color:rgb(67, 47, 47);
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
  
  a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}

.logo{
    position: relative;
}

.logo{
    a::before {
        content: '';
        position:absolute;
        width: 35%;
        height: 3px;
        border-radius: 1px;
        background-color: rgb(67, 47, 47);
        bottom: 0;
        /* left: 0; */
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
      }
    a:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }
}


/** thumbnails Modifications **/
.About{
    /* border: 1px solid black; */
    margin: 20px;
    padding-left: 10px;
}

h1 {
    font-family: "Rubik Scribble", system-ui;
    font-weight: 300;
    padding-left: 10px;
}

h3 img{
    width: 25px;
    height: 25px;
    padding-right: 20px;
}


/** Link Modifications **/
nav, footer, .logo{
    a:link{
        color: white;
        text-decoration: none;
    }
    a:visited{
        color:white;
    }
    a:hover{
        color: rgb(67, 47, 47);
    }
}

main{
    color: rgb(100, 70, 70);
}

/*** FLEX Modifications ***/
nav{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.works{
    display: flex;
    flex-flow: column wrap;
}

.thumbnails{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.menu-links{
    display: flex;
    flex-flow: row wrap;
    align-items:center;
    justify-content: space-between;
}


.socials{
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: center;
}

/*** end of flex modifications ***/

/*** CSS GRID ***/
/*** Header modifications ***/
header{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(8, 1fr);
}

.image1{
    grid-column: 1/ span 4;
    grid-row: 2/ span 4;
    width: 20vw;
}

/*** Main modifications ***/
.works{
    grid-column: 1;
    grid-row: 3/ span 4;
}

.About{
    grid-column: 1;
    grid-row: 4/ span 4;
}

main{
    grid-column: 1;
    grid-row: 6/ span 4;
}

/*** end of grid modifications ***/

/*** media query ***/ 

@media screen and (min-width:720px) {
    *{
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    }

header{
    grid-column: 1/span 1;
    grid-row: 1/ span 1;
}

section{
    grid-column: 1;
    grid-row: 2/ span 1;
}

main{
    grid-column: 1/ span 1;
    grid-row: 3/ span 1;
}

footer{
    grid-column: 1/ span 1;
    grid-row: 4/ span 1;
}
}